body{
    background-color:brown;
}
h1{
    color: aliceblue;
    font-size: 35px;
    text-align: center;
}
h3{
    color: aliceblue;
    font-size: 20px;
    text-align: center;
}
h2{
   color: black;
   font-size: xx-large;
}


























